button.btn {
  outline: none;
  border: none;
  font-weight: 500;
  transition: all 1s ease;
}
button.btn:hover {
  background-image: linear-gradient(to left, orange, rgba(255, 255, 255, 0.4));
}
button.btnn {
  outline: none;
  border: none;
  font-weight: 500;
  transition: all 1s ease;
}
button.btnn:hover {
  background-image: linear-gradient(to left, orange, rgba(255, 255, 255, 0.4));
}
